In [1]:
import pandas as pd

# Chemin vers le fichier CSV d'entrée
input_file = "StockEtablissement_utf8.csv"

# Taille des morceaux (ajustez selon votre mémoire disponible)
chunk_size = 100000  # Par exemple, 100 000 lignes par morceau

# Liste pour stocker les morceaux filtrés
chunks_filtres = []

# Lire le fichier par morceaux et appliquer le filtre
for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
    # Filtrer les lignes où l'une des colonnes commence par "45"
    masque = (
        chunk["activitePrincipaleRegistreMetiersEtablissement"].astype(str).str.startswith("45") |
        chunk["activitePrincipaleNAF25Etablissement"].astype(str).str.startswith("45")
    )
    chunk_filtre = chunk[masque]

    # Ajouter le morceau filtré à la liste
    if not chunk_filtre.empty:
        chunks_filtres.append(chunk_filtre)

# Concaténer tous les morceaux filtrés en un seul DataFrame
df_filtre = pd.concat(chunks_filtres, ignore_index=True)

# Afficher un aperçu du DataFrame résultant
print(f"Nombre total de lignes filtrées : {len(df_filtre)}")
df_filtre.head()

C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (7,20,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (7,12,14,15,18,20,21,22,23,24,26,28,29,30,31,32,33,34,35,38,40,41,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (12,14,15,18,20,21,22,23,24,26,28,29,30,31,32,33,34,35,38,40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (22,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (7,22,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (12,14,15,18,21,22,23,24,28,29,30,31,32,33,34,35,38,40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (7,12,14,15,18,20,21,22,23,24,26,28,29,30,31,32,33,34,35,38,40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (7,12,14,15,18,21,22,23,24,27,28,29,30,31,32,33,34,35,38,40,41,47,48,49,53) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (7,20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (20,26) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (12,14,15,18,20,21,23,24,26,28,29,30,31,32,33,34,35,38,40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):
C:\Users\impej\AppData\Local\Temp\ipykernel_23284\1393670703.py:13: DtypeWarning: Columns (12,14,15,18,20,21,22,23,24,28,29,30,31,32,33,34,35,38,40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(input_file, sep=",", chunksize=chunk_size, encoding="utf-8"):

Nombre total de lignes filtrées : 145066

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement,activitePrincipaleNAF25Etablissement
0,5620174,36,562017400036,O,2016-01-01,NN,NaN,4520AA,2024-08-02T14:14:22,True,...,2024-04-30,F,NaN,NaN,NaN,NaN,45.20A,NAFRev2,N,NaN
1,5950134,30,595013400030,O,1995-10-01,NN,NaN,4520AB,2024-03-22T15:40:57,True,...,2016-06-07,F,NaN,NaN,NaN,NaN,45.20A,NAFRev2,N,NaN
2,7211253,21,721125300021,O,1996-04-01,01,2023.0,4520BC,2025-12-05T21:04:37,True,...,2008-01-01,A,NaN,NaN,NaN,NaN,45.20A,NAFRev2,O,95.31G
3,7320161,24,732016100024,O,1999-03-31,NN,NaN,4520AB,2025-12-06T01:10:25,True,...,2008-01-01,A,NaN,NaN,NaN,NaN,45.11Z,NAFRev2,N,47.81Y
4,15550882,110,1555088200110,O,1900-01-01,21,2023.0,4520AB,2025-12-06T04:17:18,True,...,2008-01-01,A,CHENOVE,NaN,NaN,NaN,45.31Z,NAFRev2,O,46.72Y

In [2]:
df_filtre

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement,activitePrincipaleNAF25Etablissement
0,5620174,36,562017400036,O,2016-01-01,NN,NaN,4520AA,2024-08-02T14:14:22,True,...,2024-04-30,F,NaN,NaN,NaN,NaN,45.20A,NAFRev2,N,NaN
1,5950134,30,595013400030,O,1995-10-01,NN,NaN,4520AB,2024-03-22T15:40:57,True,...,2016-06-07,F,NaN,NaN,NaN,NaN,45.20A,NAFRev2,N,NaN
2,7211253,21,721125300021,O,1996-04-01,01,2023.0,4520BC,2025-12-05T21:04:37,True,...,2008-01-01,A,NaN,NaN,NaN,NaN,45.20A,NAFRev2,O,95.31G
3,7320161,24,732016100024,O,1999-03-31,NN,NaN,4520AB,2025-12-06T01:10:25,True,...,2008-01-01,A,NaN,NaN,NaN,NaN,45.11Z,NAFRev2,N,47.81Y
4,15550882,110,1555088200110,O,1900-01-01,21,2023.0,4520AB,2025-12-06T04:17:18,True,...,2008-01-01,A,CHENOVE,NaN,NaN,NaN,45.31Z,NAFRev2,O,46.72Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145061,997350061,21,99735006100021,O,1993-12-03,NN,NaN,4520AB,2024-03-30T14:45:06,False,...,2018-01-01,F,NaN,NaN,NaN,NaN,45.11Z,NAFRev2,N,NaN
145062,997536818,500,99753681800500,O,1993-03-05,NN,NaN,4520AA,2024-03-29T22:42:19,False,...,2010-11-15,F,NaN,NaN,NaN,NaN,45.20A,NAFRev2,O,NaN
145063,997536818,1623,99753681801623,O,2007-03-01,02,2023.0,4520AA,2025-12-06T04:43:59,False,...,2018-05-24,A,MIDAS,NaN,NaN,NaN,45.20A,NAFRev2,N,95.31G
145064,997779608,30,99777960800030,O,2011-03-15,11,2023.0,4520AB,2025-12-05T15:46:07,True,...,2011-03-15,A,CARROSSERIE PEREZ,NaN,NaN,NaN,45.20A,NAFRev2,O,95.31G
145065,998006324,11,99800632400011,O,1966-01-01,00,2023.0,4520AB,2024-03-30T15:07:55,True,...,2023-06-30,F,NaN,NaN,NaN,NaN,45.11Z,NAFRev2,O,NaN

In [4]:
df_filtre.columns

Index(['siren', 'nic', 'siret', 'statutDiffusionEtablissement',
       'dateCreationEtablissement', 'trancheEffectifsEtablissement',
       'anneeEffectifsEtablissement',
       'activitePrincipaleRegistreMetiersEtablissement',
       'dateDernierTraitementEtablissement', 'etablissementSiege',
       'nombrePeriodesEtablissement', 'complementAdresseEtablissement',
       'numeroVoieEtablissement', 'indiceRepetitionEtablissement',
       'dernierNumeroVoieEtablissement',
       'indiceRepetitionDernierNumeroVoieEtablissement',
       'typeVoieEtablissement', 'libelleVoieEtablissement',
       'codePostalEtablissement', 'libelleCommuneEtablissement',
       'libelleCommuneEtrangerEtablissement',
       'distributionSpecialeEtablissement', 'codeCommuneEtablissement',
       'codeCedexEtablissement', 'libelleCedexEtablissement',
       'codePaysEtrangerEtablissement', 'libellePaysEtrangerEtablissement',
       'identifiantAdresseEtablissement',
       'coordonneeLambertAbscisseEtablissement',
       'coordonneeLambertOrdonneeEtablissement',
       'complementAdresse2Etablissement', 'numeroVoie2Etablissement',
       'indiceRepetition2Etablissement', 'typeVoie2Etablissement',
       'libelleVoie2Etablissement', 'codePostal2Etablissement',
       'libelleCommune2Etablissement', 'libelleCommuneEtranger2Etablissement',
       'distributionSpeciale2Etablissement', 'codeCommune2Etablissement',
       'codeCedex2Etablissement', 'libelleCedex2Etablissement',
       'codePaysEtranger2Etablissement', 'libellePaysEtranger2Etablissement',
       'dateDebut', 'etatAdministratifEtablissement', 'enseigne1Etablissement',
       'enseigne2Etablissement', 'enseigne3Etablissement',
       'denominationUsuelleEtablissement', 'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement',
       'activitePrincipaleNAF25Etablissement'],
      dtype='object')

In [12]:
# Liste des colonnes à conserver
colonnes_a_garder = [
    "etatAdministratifEtablissement",
    "denominationUsuelleEtablissement",

    "siren",
    "siret",
    "dateCreationEtablissement",
    "activitePrincipaleRegistreMetiersEtablissement",
    "dateDernierTraitementEtablissement",
    "dateDebut",
    "activitePrincipaleEtablissement",
    
    "denominationUsuelleEtablissement",
    "complementAdresseEtablissement",
    "codeCommuneEtablissement",
    "codePostalEtablissement",
    "trancheEffectifsEtablissement"
]

# Filtrer le DataFrame pour ne garder que les colonnes souhaitées
df_filtre = df_filtre[colonnes_a_garder].copy()

# Ajouter une colonne indiquant si la société est ouverte

# Afficher un aperçu du DataFrame résultant
print(f"Nombre total de lignes dans le DataFrame filtré : {len(df_filtre)}")
df_filtre.head()

Nombre total de lignes dans le DataFrame filtré : 70209

,etatAdministratifEtablissement,denominationUsuelleEtablissement,siren,siret,dateCreationEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,dateDebut,activitePrincipaleEtablissement,denominationUsuelleEtablissement,complementAdresseEtablissement,codeCommuneEtablissement,codePostalEtablissement,trancheEffectifsEtablissement
2,A,NaN,7211253,721125300021,1996-04-01,4520BC,2025-12-05T21:04:37,2008-01-01,45.20A,NaN,NaN,80001,80100,01
3,A,NaN,7320161,732016100024,1999-03-31,4520AB,2025-12-06T01:10:25,2008-01-01,45.11Z,NaN,NaN,80649,80120,NN
4,A,NaN,15550882,1555088200110,1900-01-01,4520AB,2025-12-06T04:17:18,2008-01-01,45.31Z,NaN,NaN,21166,21300,21
15,A,NaN,16980120,1698012000014,1969-01-01,4520AA,2025-12-05T15:33:07,2009-10-30,45.20A,NaN,NaN,76035,76390,11
16,A,NaN,24040131,2404013100013,1998-05-01,4520AB,2025-12-05T19:29:19,2008-01-01,33.12Z,NaN,NaN,97611,97600,NN

In [13]:
# Afficher les valeurs uniques de la colonne 'etatAdministratifEtablissement'
valeurs_uniques = df_filtre["etatAdministratifEtablissement"].unique()

# Afficher les valeurs uniques
print("Valeurs uniques de la colonne 'etatAdministratifEtablissement' :")
for valeur in valeurs_uniques:
    print(valeur)

Valeurs uniques de la colonne 'etatAdministratifEtablissement' :
A

In [14]:
# Filtrer pour ne garder que les lignes où 'etatAdministratifEtablissement' est 'A'
df_filtre = df_filtre[df_filtre["etatAdministratifEtablissement"] == "A"]

# Afficher un aperçu du DataFrame résultant
print(f"Nombre total de lignes dans le DataFrame filtré (établissements actifs) : {len(df_filtre)}")
df_filtre

Nombre total de lignes dans le DataFrame filtré (établissements actifs) : 70209

,etatAdministratifEtablissement,denominationUsuelleEtablissement,siren,siret,dateCreationEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,dateDebut,activitePrincipaleEtablissement,denominationUsuelleEtablissement,complementAdresseEtablissement,codeCommuneEtablissement,codePostalEtablissement,trancheEffectifsEtablissement
2,A,NaN,7211253,721125300021,1996-04-01,4520BC,2025-12-05T21:04:37,2008-01-01,45.20A,NaN,NaN,80001,80100,01
3,A,NaN,7320161,732016100024,1999-03-31,4520AB,2025-12-06T01:10:25,2008-01-01,45.11Z,NaN,NaN,80649,80120,NN
4,A,NaN,15550882,1555088200110,1900-01-01,4520AB,2025-12-06T04:17:18,2008-01-01,45.31Z,NaN,NaN,21166,21300,21
15,A,NaN,16980120,1698012000014,1969-01-01,4520AA,2025-12-05T15:33:07,2009-10-30,45.20A,NaN,NaN,76035,76390,11
16,A,NaN,24040131,2404013100013,1998-05-01,4520AB,2025-12-05T19:29:19,2008-01-01,33.12Z,NaN,NaN,97611,97600,NN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145055,A,AM AUTO 3,992816819,99281681900021,2025-12-01,4520AA,2025-12-08T11:23:01,2025-12-01,45.20A,AM AUTO 3,NaN,10343,10800,NN
145056,A,NaN,992998633,99299863300026,2025-12-05,4520AB,2025-12-19T09:01:15,2025-12-05,45.20A,NaN,CENTRE D'AFFAIRES ECONOMIS,84007,84000,NN
145059,A,NaN,995920105,99592010500039,1900-01-01,4520AB,2025-12-05T20:46:37,2011-05-02,38.31Z,NaN,NaN,26011,26400,03
145063,A,NaN,997536818,99753681801623,2007-03-01,4520AA,2025-12-06T04:43:59,2018-05-24,45.20A,NaN,NaN,67447,67300,02
145064,A,NaN,997779608,99777960800030,2011-03-15,4520AB,2025-12-05T15:46:07,2011-03-15,45.20A,NaN,NaN,31555,31400,11